.main-about{
    min-height: 100vh;
    background: #f2f2f2;
    padding-top: 100px;
    padding-bottom: 50px;
    color: #232322;
    &__title{
        color: #232322;
        font-size: 32px;
        font-weight: 500;
    }
    .content{
        max-width: 1280px;
        margin: 0 auto;
        z-index: 3;
        position: relative;
        color: #232322;
        width: 100%;
    }
    &-text{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: 0 -15px;
        .block{
            padding: 0 15px;
            min-width: 50%;
            flex: 1 1 50%;
            flex-shrink: 0;
            max-width: 50%;
            line-height: 30px;
            font-size: 18px;
        }
    }
}