doctype html
html
  head
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, maximum-scale=1, user-scalable=no" /> 
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <meta name="theme-color" content="#202020">
    <meta itemprop="name" content="Создание и комплексное продвижение сайтов в Сургуте">
    <meta itemprop="description" content="Создание, разработка, продвижение и реклама сайтов">
    <meta property="og:title" content="Разработка и продвижение сайтов в Сургуте - Flames Studio" />
    <meta property="og:description" content="Разработка сайтов, продвижение, реклама, создание мобильных приложений" />
    <meta property="og:image" content="/og.jpg" />
    <meta property="og:image:type" content="image/jpg" />
    <link href="/javascripts/styles.css" rel="stylesheet" async>
    title= title
    <meta name="description" content="Разработка сайтов без шаблонов, настройка рекламы и продвижение сайтов. Создание мобильных приложений в Сургуте. Flames Digital Agency">
  <meta name="keywords" content="Создание сайтов в Сургуте, Создание мобильных приложений в Сургуте">
  body
    block content
    script(type='text/javascript', src='/javascripts/vendor.1737cd755877f0779af2.js')
    script(type='text/javascript', src='/javascripts/app.js')
